automation_user      = "operations-automation@pve"
automation_password  = "changeme"
acme_email_address   = "admin@example.com"
cf_api_token         = "cf_api_token"
portainer_api_key    = "portainer_api_key"
adguard_login_bcrypt = "$2a$10$examplehash"
proxmox_pve_node_name   = "mainprox"
proxmox_pve_node_ip     = "192.168.178.15"
proxmox_pve_node_domain = "proxmox.example.com"
proxmox_pve_node_port   = "8006"
